@model TigerLineScores.Models.UserProfile
@{
    ViewBag.Title = "Tiger Line Scores - Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-10">
    <h4 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 300px">REGISTER</h4>
    <br />

    <p>
        To register please enter a user name, email address, your home course and your exact handicap below. A password will then be sent to you.<br />
        Use this password to login in and start using Tigerline Scores.
    </p>
    <br />

    @using (Html.BeginForm("Register", "Register", FormMethod.Post, new { enctype = "multipart/form-data", id = "registerform" }))
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label>User Name</label>
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @style = "max-width: 280px" })
            @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Email Address</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @style = "max-width: 280px" })
            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Home Course</label>
            @Html.DropDownListFor(model => model.HomeCourseID, ViewBag.CourseList as SelectList, "Select a Course ..", new { id = "ddlcourse", @class = "form-control", style = "max-width: 280px" })
            @Html.ValidationMessageFor(model => model.HomeCourseID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Exact Handicap</label>
            @Html.EditorFor(model => model.Handicap, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 280px", @type = "number", @min = "0", @max = "36" } })
            @Html.ValidationMessageFor(model => model.Handicap, "", new { @class = "text-danger" })
        </div>
        <br /><br />

        <div>
            <input class="btn btn-primary" type="submit" id="btnSubmit" value="Register" />
            <img id="myLoadingElement" style="visibility: hidden" src="~/Images/loading-gif.gif" alt="Loading..." />
        </div>

    }
    <br /><hr />
</div>

@*If validation fails - make spinning icon invisible*@
<script>
    $(function () {
        $("#registerform").bind("invalid-form.validate", function () {
            $("#myLoadingElement").css("visibility", "hidden");
        });
    });
</script>

@*Show spinning icon when form is submitted*@
<script type="text/javascript">
    $("#registerform").submit(function (e) {
        $("#myLoadingElement").css("visibility", "visible");
    });
</script>

<script type="text/javascript">
    function showSuccesspopup() {
        document.getElementById("divSuccesspopup").className = "popupvisible-Success";
    }
    function hideSuccesspopup() {
        document.getElementById("divSuccesspopup").className = "popupnotvisible";
    }
    function gotoHomePage() {
        window.location = '@Url.Action("Index","Home")';
    }
    function showFailpopup() {
        document.getElementById("divFailpopup").className = "popupvisible-Danger";
    }
</script>

@* Successful Registration*@
<div id="divSuccesspopup" class="popupnotvisible" style="margin-top: -10px">
    @TempData["Register"]
    <button class="btn btn-xs btn-success" onclick="gotoHomePage()">close</button>
</div>

@* Email already Registered*@
<div id="divFailpopup" class="popupnotvisible" style="margin-top: -30px">
    @TempData["Message"]
    <button class="btn btn-xs btn-danger" onclick="gotoHomePage()">close</button>
</div>

@if (TempData["Register"] != null)
{
    <script type="text/javascript">
        showSuccesspopup()
    </script>
}

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        showFailpopup()
    </script>
}

    @*Set background of Course DDL to Green if Course Selected*@
    <script>
        $(function () {

            $(function () {
                $("#ddlcourse").change(checkcourse);
            });

            checkcourse()
        });

        function checkcourse() {
            var cvalue = $('#ddlcourse option:selected').text();
            if (cvalue == "Select a Course ..") {
                $('#ddlcourse').attr('style', 'background-color: white; color: grey; max-width: 280px');
            } else {
                $('#ddlcourse').attr('style', 'background-color: green; color: white; max-width: 280px');
            }
        }
    </script>
