@model TigerLineScores.Models.UserProfile

@{
    ViewBag.Title = "Tiger Line Scores - Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function SetPhotoDefault() {
        document.getElementById('photoLabel').value = "/Images/Default Profile Photo.jpg";
        document.getElementById('currentPhoto').src = "/Images/Default Profile Photo.jpg";
        Session["UserPhoto"] = "/Images/Default Profile Photo.jpg";
    };
</script>

<div class="col-lg-10">
    <h4 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 250px">PROFILE</h4>
    <br />

    @using (Html.BeginForm("Edit", "Profiles", FormMethod.Post, new { enctype = "multipart/form-data", id = "profileform" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="font-weight: bold">@Session["UserName"]</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProfileID)
            @Html.HiddenFor(model => model.UserID)
            @Html.HiddenFor(model => model.Email)

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 280px" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HomeCourseID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.HomeCourseID, ViewBag.CourseList as SelectList, "Select a Course ..", new { id = "ddlcourse", @class = "form-control", style = "max-width: 280px" })
                    @Html.ValidationMessageFor(model => model.HomeCourseID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Handicap, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Handicap, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 280px", @type = "number", @min = "0", @max = "36" } })
                    @Html.ValidationMessageFor(model => model.Handicap, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <img id="currentPhoto" class="img-rounded" src="@Session["UserPhoto"]" style="width: 100px; border: 1px solid grey; box-shadow: 5px 5px 5px grey; margin-bottom: 5px" />
                    <img id="myLoadingElement" style="visibility: hidden" src="~/Images/loading-gif.gif" alt="Loading..." />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.HiddenFor(model => model.Photo, htmlAttributes: new { id = "photoLabel" })
                    @if (Model.Photo != "/Images/Default Profile Photo.jpg")
                    {
                        <input type="submit" value="Remove Photo" onclick="SetPhotoDefault()" class="btn btn-default" />
                    }
                    <br />
                    <label for="Profilephoto" class="btn btn-default" style="margin-top: 20px; margin-bottom: 20px">Select Photo</label>
                    <input type="submit" value="Save Profile" class="btn btn-primary" />
                </div>
            </div>
            <input type="file" name="Profilephoto" id="Profilephoto" style="visibility: hidden" />
        </div>
    }

    <div id="divpopup" class="popupnotvisible" style="margin-top: -200px">
        @TempData["EditMessage"]
        <button class="btn btn-xs btn-success" style="float: right" onclick="hidepopup()">close</button>
    </div>
</div>
<br />

@*If validation fails - make spinning icon invisible*@
<script>
    $(function () {
        $("#profileform").bind("invalid-form.validate", function () {
            $("#myLoadingElement").css("visibility", "hidden");
        });
    });
</script>

@*Show spinning icon when form is submitted*@
<script type="text/javascript">
    $("#profileform").submit(function (e) {
        $("#myLoadingElement").css("visibility", "visible");
    });
</script>

<script type="text/javascript">
    function showpopup() {
        document.getElementById("divpopup").className = "popupvisible-Success";
    }
    function hidepopup() {
        document.getElementById("divpopup").className = "popupnotvisible";
    }
</script>



@if (TempData["EditMessage"] != null)
{
    <script type="text/javascript">
        showpopup()
    </script>
}

@*Set background of Course DDL to Green if Course Selected*@
<script>
        $(function () {

            $(function () {
                $("#ddlcourse").change(checkcourse);
            });

            checkcourse()
        });

        function checkcourse() {
            var cvalue = $('#ddlcourse option:selected').text();
            if (cvalue == "Select a Course ..") {
                $('#ddlcourse').attr('style', 'background-color: white; color: grey; max-width: 280px');
            } else {
                $('#ddlcourse').attr('style', 'background-color: green; color: white; max-width: 280px');
            }
        }
</script>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
