@model IEnumerable<TigerLineScores.Models.CourseMain>

<div class="col-lg-10">
    <h4 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 250px">COURSES</h4>
    <br />

    @{
        ViewBag.Title = "Course List";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="col-md-12">
        @Html.ActionLink("Add New Club Name", "Create", null, new { @class = "btn btn-primary", @style = "margin-bottom: 20px" })
    </div>

    <div class="col-md-12">
        <table class="table table-bordered" style="margin-bottom: 20px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClubName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhiteSSS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YellowSSS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RedSSS)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClubName)
                    </td>
                    <td style="text-align: center; width: 120px; border: 1px solid silver; border-radius: 5px">
                        @Html.DisplayFor(modelItem => item.WhiteSSS)
                    </td>
                    <td style="text-align: center; width: 120px; border: 1px solid silver; border-radius: 5px; background-color: #f7de54">
                        @Html.DisplayFor(modelItem => item.YellowSSS)
                    </td>
                    <td style="text-align: center; width: 120px; border: 1px solid silver; border-radius: 5px; background-color: #f66868">
                        @Html.DisplayFor(modelItem => item.RedSSS)
                    </td>
                    <td class="btn-group">
                        @Html.ActionLink("Details", "Details", new { id = item.CourseID }, new { @class = "btn btn-sm btn-default" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }, new { @class = "btn btn-sm btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.CourseID }, new { @class = "btn btn-sm btn-default" })
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
</div>