@model IEnumerable<TigerLineScores.Models.User>

@{
    ViewBag.Title = "Tiger Line Scores - Current Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border: 1px solid silver; border-radius: 5px; background-color: whitesmoke; padding: 20px; margin-bottom: 25px">
    <h3 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 350px ; float: left">TIGER LINE SCORES</h3>
    <img style="float: left; margin-left :25px" height="75" src="~/Images/Score_Card.jpg" />
    <h4 style="clear: both">CURRENT USERS</h4>
</div>
<br />

<table class="table table-bordered">
    <tr style="font-style: italic">
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th style="text-align: center">
            Photo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th style="text-align: center">
            Handicap
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.AllUsers)
    {
        <tr>
            <td style="color: navy">
                <a href="@Url.Action("Edit", new { id=item.UserID })" class="btn btn-default">
                    @item.UserName
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
            </td>
            <td style="text-align: center">
                <img id="uPhoto" src="@item.Photo" style="height: 40px" />
            </td>
            <td>
                @item.Email
            </td>
            <td style="text-align: right; padding-right: 20px">
                @item.Handicap
            </td>

            @if (item.Password != null)
            {
                <td style="color: darkgreen; padding-left: 25px">Yes</td>
            }
            else
            {
                <td style="color: red; padding-left: 25px">No</td>
            }

            @if (item.Admin)
            {
                <td style="color: darkgreen; padding-left: 25px">Yes</td>
            }
            else
            {
                <td style="color: red; padding-left: 25px">No</td>
            }
            <td class="btn-group">
                <a href="@Url.Action("Delete", new { id=item.UserID })" class="btn btn-xs btn-danger">
                    Remove User
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>

            </td>
        </tr>
    }

</table>
<br /><br /><br /><br />
<hr />