@model IEnumerable<TigerLineScores.Models.CompMain>

@{
    ViewBag.Title = "Competition List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #maintable tr:hover {
        background-color: #fce1cd;
        cursor: pointer;
    }
</style>

<div class="col-lg-10">
    <h4 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 250px">COMPETITIONS - SETUP</h4>
    <br />

    <table class="table table-bordered" id="maintable" style="margin-bottom: 40px">
        <tr style="color: navy; background-color: whitesmoke">
            <th>
                @Html.DisplayNameFor(model => model.CompName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td onclick="location.href = '@Url.Action("Index", "Players", new { CompID=item.CompID })'">
                    @Html.ActionLink(item.CompName, "Edit", new { id = item.CompID }, new { @style = "color: navy" })
                </td>
                <td onclick="location.href = '@Url.Action("Index", "Players", new { CompID=item.CompID })'">
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td onclick="location.href = '@Url.Action("Index", "Players", new { CompID=item.CompID })'">
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td onclick="location.href = '@Url.Action("Index", "Players", new { CompID=item.CompID })'">
                    @Html.DisplayFor(modelItem => item.Format)
                </td>
                <td>
                    <a href="@Url.Action("Index", "ScoreCardImages", new { compID=item.CompID })" class="btn btn-primary">
                        Uploaded Cards
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                    <a href="@Url.Action("DeleteComp", new { compID = item.CompID })" class="confirm" alt="Confirm Delete" style="color: red" title="Remove Competition">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove Competition
                    </a>
                </td>
            </tr>
        }

    </table>
    <div class="col-md-12">
        @Html.ActionLink("Add New Competition", "Create", null, new { @class = "btn btn-primary", @style = "margin-bottom: 20px" })
    </div>
</div>