@model TigerLineScores.Models.ScoreCardImage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ScoreCardImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeeColour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeeColour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
