@model IEnumerable<TigerLineScores.Models.CompMain>

@{
    ViewBag.Title = "Competition List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border: 1px solid silver; border-radius: 5px; background-color: whitesmoke; padding: 20px; margin-bottom: 25px">
    <h3 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 350px ; float: left">TIGER LINE SCORES</h3>
    <img style="float: left; margin-left :25px" height="75" src="~/Images/Score_Card.jpg" />
    <h4 style="clear: both">COMPETITIONS</h4>
</div>

<br />

<table class="table table-bordered" style="margin-bottom: 40px">
    <tr style="color: navy">
        <th>
            @Html.DisplayNameFor(model => model.CompName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
        <th>
            Number of Players
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.CompName, "LeagueTable", new { compID = item.CompID }, new { @class = "btn btn-default CompHeading" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td style="text-align: center; font-weight: bold">
                @Html.DisplayFor(modelItem => item.NumberOfPlayers)
            </td>
        </tr>
    }

</table>

