@model IEnumerable<TigerLineScores.Models.PlayerView>

<style>
    #maintable tr:hover {
        background-color: #fce1cd;
        cursor: pointer;
    }
</style>

@{
    ViewBag.Title = "League Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-10">
    <h4 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 250px">OOM LEAGUE TABLE</h4>
    <br />
    <div>
        <h4 style="color: darkgreen; font-weight: bold">@ViewBag.CompName : Individual</h4>
        <br />
        <div>
            <table class="table table-bordered" style="margin-bottom: 20px; max-width: 700px" id="maintable">
                <tr style="color:navy; background-color: whitesmoke">
                    <th class="hidden-xs">Position
                    </th>
                    <th class="visible-xs">
                    </th>
                    <th width="20px" style="text-align: center"></th>
                    <th>Player
                    </th>                   
                    <th class="hidden-xs" style="text-align: center">
                        Total NET Points
                    </th>
                    <th class="hidden-xs" style="text-align: center">
                        Rounds Played
                    </th>
                    <th class="visible-xs" style="text-align: center">
                        Rnds
                    </th>
                    <th style="text-align: center" class="hidden-xs">
                        Avg. Points per Round
                    </th>
                    <th style="text-align: center" class="visible-xs">
                        Avg. Points
                    </th>

                    @*<th></th>*@
                </tr>

                @foreach (var item in Model)
            {
                if (item.currentPosition == 1)
                {
                        <tr style="border: 3px ridge yellow; background-color: azure; font-weight:bold" 
                            onclick="location.href = '@(Url.Action("PlayerRnds", "PlayerCompList", new { compID = ViewBag.CompID, compPlayerID = item.compPlayerID, sortBy = "Points" }))'" title="View Rounds">
                            <td style="font-weight: bold; text-align: center; vertical-align: middle">
                                <img class="hidden-xs" src="~/Images/Star1.jpeg" style="width: 30px" />
                                <img class="hidden-xs" id="uPhoto" src="@item.Photo" style="width: 40px; vertical-align: middle" />
                                <span class="visible-xs">1</span>
                            </td>
                            <td width="20px" style="text-align: center; vertical-align: middle">
                                <img src=@item.movementIcon style="width: 10px" />
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.playerName)
                            </td>
                            <td class="hidden-xs" style="text-align: right; padding-right: 50px; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.totalNETPoints)
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.rndsPlayed)
                            </td>
                            <td class="hidden-xs" style="text-align: right; padding-right: 60px; font-weight: bold; color:darkgreen; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.avgPointsPerRnd)
                            </td>
                            <td class="visible-xs" style="text-align: right; padding-right: 10px; font-weight: bold; color:darkgreen; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.avgPointsPerRnd)
                            </td>
                           
                        </tr>
                    }
                    else
                    {
                        <tr onclick="location.href = '@(Url.Action("PlayerRnds", "PlayerCompList", new { compID = ViewBag.CompID, compPlayerID = item.compPlayerID, sortBy = "Points" }))'" title="View Rounds">
                            <td style="text-align: center; font-weight: bold; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.currentPosition)
                            </td>
                            <td width="20px" style="text-align: center">
                                <img src=@item.movementIcon style="width: 10px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.playerName)
                            </td>
                            <td class="hidden-xs" style="text-align: right; padding-right: 50px; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.totalNETPoints)
                            </td>
                            <td style="text-align: center; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.rndsPlayed)
                            </td>
                            <td class="hidden-xs" style="text-align: right; padding-right: 60px; font-weight: bold; color:darkgreen; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.avgPointsPerRnd)
                            </td>
                            <td class="visible-xs" style="text-align: right; padding-right: 10px; font-weight: bold; color:darkgreen; vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.avgPointsPerRnd)
                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
        <div class="col-lg-12">
            @Html.ActionLink("Inter-Club Order of Merit", "InterClubTable", "PlayerCompList", new { compID = ViewBag.CompID }, new { @Class = "btn btn-default", style = "margin-top: 20px; margin-bottom: 10px" })
        </div>
        <div class="col-lg-12">
            @Html.ActionLink("Back to List of Competitions", "Index", "PlayerCompList", null, new { @Class = "btn btn-default", style = "margin-bottom: 40px" })
        </div>
    </div>
</div>