@model IEnumerable<TigerLineScores.Models.PlayerView>

@{
    ViewBag.Title = "League Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="border: 1px solid silver; border-radius: 5px; background-color: whitesmoke; padding: 20px; margin-bottom: 25px">
    <h3 style="font-style: italic; font-weight: bold; border-bottom:1px solid green; width: 350px ; float: left">TIGER LINE SCORES</h3>
    <img style="float: left; margin-left :25px" height="75" src="~/Images/Score_Card.jpg" />
    <h4 style="clear: both">LEAGUE TABLE</h4>
</div>
<br />
<div class="form-horizontal">
    <h4 style="color: darkgreen; font-weight: bold">@ViewBag.CompName</h4>
    <br />
    <div class="col-md-12">
        <table class="table table-bordered table-condensed" style="margin-bottom: 20px">
            <tr style="color:navy">
                <th style="text-align: center">
                    Position
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.playerName)
                </th>
                <th style="text-align: center">
                    Total NET Points
                </th>
                <th style="text-align: center">
                    @Html.DisplayNameFor(model => model.rndsPlayed)
                </th>
                <th style="text-align: center">
                    Avg. Points per Round
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.currentPosition == 1)
                {
                    <tr style="background-color: palegoldenrod; font-weight:bold">
                        <td style="font-weight: bold; background-color: white; text-align: center; vertical-align: middle">
                            <img src="~/Images/Star1.jpeg" style="width: 30px"/>
                        </td>
                        <td>
                            <img id="uPhoto" src="@item.Photo" style="width: 40px; vertical-align: middle" />
                            @Html.DisplayFor(modelItem => item.playerName)
                        </td>
                        <td style="text-align: right; padding-right: 30px; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.totalNETPoints)
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.rndsPlayed)
                        </td>
                        <td style="text-align: right; padding-right: 40px; font-weight: bold; color:darkgreen; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.avgPointsPerRnd)
                        </td>
                        <td style="vertical-align: middle">
                            <a href="@Url.Action("PlayerRnds", "PlayerCompList", new { compID = ViewBag.CompID, compPlayerID = item.compPlayerID }) " class="btn btn-xs btn-primary">
                                View Rounds
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td style="text-align: center; font-weight: bold; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.currentPosition)
                        </td>
                        <td>
                            <img id="uPhoto" src="@item.Photo" style="width: 40px" />
                            @Html.DisplayFor(modelItem => item.playerName)
                        </td>
                        <td style="text-align: right; padding-right: 30px; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.totalNETPoints)
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.rndsPlayed)
                        </td>
                        <td style="text-align: right; padding-right: 40px; font-weight: bold; color:darkgreen; vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.avgPointsPerRnd)
                        </td>
                        <td style="vertical-align: middle">
                            <a href="@Url.Action("PlayerRnds", "PlayerCompList", new { compID = ViewBag.CompID, compPlayerID = item.compPlayerID }) " class="btn btn-xs btn-primary">
                                View Rounds
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            }

        </table>
    </div>
    <div class="col-md-10">
        @Html.ActionLink("Back to List of Competitions", "Index", "PlayerCompList", null, new { @Class = "btn btn-default", style = "margin-top: 20px; margin-bottom: 50px" })
    </div>
    <br />

</div>

