@model TigerLineScores.Models.CompScore

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompScore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompPlayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompPlayerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hole18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hole18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerHcap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerHcap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompScoreID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
